<ion-header>
  <ion-toolbar>
    <ion-title class="box-modal-title">
      {{ source.name }}

      <p *ngIf="source.domain" class="modal-title-url">
      {{ source.domain }}
    </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box-modal-content">
    <p *ngIf="source.image" class="box-modal-logo">
      <ion-img src="source.image">
      </ion-img>
    </p>

    <hr />

    <!-- Descripción -->
    <p>
      {{ source.description }}  
    </p>

    <!-- Botones -->
    <p>
      <ion-button color="danger" 
                  (click)="dismiss()"
                  expand="full">
        Atrás
      </ion-button>
    </p>
  </div>  
</ion-content>
