<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark">

    <ion-title>
      <ion-item color="dark">
        <ion-thumbnail slot="start">
          <ion-img src="assets/identity/icon.png"></ion-img>
        </ion-thumbnail>
        <ion-label>Últimas Noticias</ion-label>
      </ion-item>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <app-posts [posts]="posts"></app-posts>

  <ion-infinite-scroll threshold="15%" (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content loadingSpinner="crescent"
                                 loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>                                  
</ion-content>
