<ion-header [translucent]="true" no-border>
  <ion-toolbar color="dark">

    <ion-title>
      <ion-item color="dark">
        <ion-thumbnail slot="start">
          <ion-img src="assets/identity/icon.png"></ion-img>
        </ion-thumbnail>
        <ion-label>Favoritos</ion-label>
      </ion-item>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <!-- En caso de no haber favoritos -->
  <ion-slides [options]="sliderOpts"
              *ngIf="localStorage.posts.length === 0">
    <ion-slide>
      <ion-label>
        No hay favoritos agregados
      </ion-label>
    </ion-slide>
  </ion-slides>

  <app-posts *ngIf="localStorage.posts.length > 0"
             [posts]="localStorage.posts"></app-posts>
</ion-content>
