<ion-card color="dark">
  <ion-card-header>
      <ion-card-subtitle>
        <span class="title-1">
          <div>
            <span class="post-source">{{ post.source.name }}</span>
          </div>

          <div class="box-title-url">
            <span class="post-url">{{ post.source.url }}</span>
          </div>
        </span>






        <div class="post-more-info">
          <ion-icon class="icon-post-info" 
                    name="information-circle"></ion-icon>
          <ion-button fill="clear"
                      (click)="openPostMenu()">
            <ion-icon slot="icon-only"
                      name="ellipsis-vertical-sharp"></ion-icon>
          </ion-button>
        </div>

        
      </ion-card-subtitle>

      <ion-card-title (click)="openPost()">{{ post.title }}</ion-card-title>
  </ion-card-header>

  <ion-img *ngIf="post.image"
            (click)="openPost()"
            [src]="post.image"></ion-img>

  <ion-card-content>

    <!-- Descripción -->

    <p>
      {{ post.description }}
    </p>

    <!-- Metadatos -->
    <p>
      <span>
        {{ post.categories[0].name }}
      </span>
    <p>

    <!-- Autor -->
    <p>
      <span>
        {{ post.author.name}} ( {{ post.author.username}} )
      </span>
    <p>


  </ion-card-content>
</ion-card>