.post-more-info {
    position: absolute;
    right: -30px;
    top: -19px;
}

.post-more-info ion-icon {
    font-size: 17px;
}

.box-title-url {
    margin-top: -15px;
    width: 100%;
    text-align: left;
}

.post-url {
    margin-left: 10px !important;
    font-size: 12px;
    color: #e7ff99;
}

.box-post-author {
    margin-top: 8px;
    color: var( --ion-color-warning);
    text-align: center;
}

.box-post-metadata {
    margin-top: 8px;
    color: var( --ion-color-success);
    text-align: right;
}

.post-read-more {
    display: block;
    width: 100%;
    margin-top: 12px;
    color: lightsalmon;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
}