<ion-card color="dark">
  <ion-card-header>
      <ion-card-subtitle>
        <span class="title-1">
          <span class="text-primary"> {{ index + 1 }}.</span>
          <span class="post-source">{{ post.source.name }}</span>
        </span>

        <div class="post-more-info">
          <ion-button fill="clear"
                      (click)="openPostMenu()">
            <ion-icon slot="icon-only"
                      name="ellipsis-vertical-sharp"></ion-icon>
          </ion-button>
        </div>
      </ion-card-subtitle>

      <ion-card-title (click)="openPost()">{{ post.title }}</ion-card-title>
  </ion-card-header>

  <ion-img *ngIf="post.image"
            (click)="openPost()"
            [src]="post.image"></ion-img>

  <ion-card-content>
    <p>
      {{ post.description }}
    </p>
  </ion-card-content>
</ion-card>