<ion-card color="dark">
  <ion-card-header>
      <ion-card-subtitle>
        <span class="title-1">
          <div>
            <span class="post-source">{{ post.source.name }}</span>
          </div>

          <div *ngIf="post.source.domain"
                class="box-title-url">
            <span class="post-url">{{ post.source.domain }}</span>
          </div>
        </span>

        <div class="post-more-info">
          <ion-button fill="clear"
                      (click)="openPostMenu()">
            <ion-icon slot="icon-only"
                      name="ellipsis-vertical-sharp"></ion-icon>
          </ion-button>
        </div>

      </ion-card-subtitle>

      <ion-card-title (click)="openPost()">{{ post.title }}</ion-card-title>
  </ion-card-header>

  <ion-img *ngIf="post.image"
            (click)="openPost()"
            [src]="post.image"></ion-img>

  <ion-card-content>

    <!-- Descripción -->

    <p>
      {{ post.description }}...
      
      <br />

      <span (click)="openPost()" class="post-read-more">
        Leer más
      </span>  
    </p>

    <!-- Metadatos -->
    <p *ngIf="post.categories.length"
        class="box-post-metadata">

      <span *ngFor="let category of post.categories">
        <ion-icon name="pricetags-outline"></ion-icon>
        {{ category.name }}
      </span>
    <p>

    <!-- Autor -->
    <p *ngIf="post.author.name && post.author.username"
        class="box-post-author">
      <span>
          Autor 
          <br />
          <ion-icon name="person-circle-outline"></ion-icon>
        {{ post.author.name}} ( {{ post.author.username}} )
      </span>
    <p>


  </ion-card-content>
</ion-card>