<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Últimas Noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let post of posts">
        <ion-card color="dark">
          <ion-card-header>
              <ion-card-subtitle>
                {{ post.source.name }}
              </ion-card-subtitle>

              <ion-card-title>{{ post.title }}</ion-card-title>
          </ion-card-header>

          <ion-img *ngIf="post.urlToImage"
                   [src]="post.urlToImage"></ion-img>

          <ion-card-content>
            <p>
              {{ post.description }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
